<mat-card>
  <app-instrument-name [name]="sample | titlecase"></app-instrument-name>
  <div class="container">
    <div>
      <knob class="skin1" #myknob1 [min]="10" [max]="200" [value]="80" [startDegree]="200"  [endDegree]="120"></knob>
      <app-volume-control [source]="sampler"></app-volume-control><br>
      <app-panner [source]="sampler"></app-panner>
      <div><label>Reverse: </label>
        <mat-checkbox name="reverse" [value]="reversed" (change)="reverseSample($event)"></mat-checkbox></div>
    </div>
    <div>
      <app-fx-box [source]="sampler"></app-fx-box>
    </div>
    <div>
      <app-pattern-generator [activeBeats]="activeBeats"></app-pattern-generator>
    </div>
  </div>
</mat-card>
<mat-divider></mat-divider>
