<mat-card>
  <h2>{{synthType | titlecase}}</h2>
  <div class="container">
    <div>
      <app-volume-control [source]="synth"></app-volume-control><br>
      <app-pitch-controls [pitchConfig]="pitchConfig" (octaveChange)="octaveChange($event)"></app-pitch-controls>
    </div>
    <div>
      <app-fx-box [source]="synth"></app-fx-box>
    </div>
    <div>
      <app-pattern-generator [activeBeats]="activeBeats" (patternChange)="regenerateSequence()"></app-pattern-generator>
    </div>
  </div>
</mat-card>

