<mat-card>
  <h2>{{synthType | titlecase}}</h2>
  <div class="container">
    <div><app-synth-controls [synth]="synth"
                             [synthType]="synthType"
                             [pitchConfig]="pitchConfig"
                             (octaveChange)="octaveChange($event)"></app-synth-controls></div>
    <div><app-fx-box [source]="synth"></app-fx-box></div>
    <div><app-pattern-generator [activeBeats]="activeBeats"
                                (patternChange)="regenerateSequence($event)"></app-pattern-generator></div>
  </div>
</mat-card>

