knob {
  background-size: contain;
  margin-left: 2rem;
  margin-top: 1rem;
  width: 2rem;
  height: 2rem;
  display: block;
}

knob.skin1 {
  background: url('../../assets/images/skin1_back.svg');
  background-size: contain;
}

knob.skin1 ::ng-deep .knob {
  background: url('../../assets/images/skin1_front.svg');
  background-size: contain;
}
