<label>{{config.type | titlecase}}: </label>
<mat-checkbox name="{{config.type}}" (change)="switch.emit($event)"></mat-checkbox>
<ng-container *ngIf="effect">
  <div class="container">
    <app-control-knob *ngFor="let knob of config.knobs"
                      [min]="knob.min"
                      [max]="knob.max"
                      [value]="effect[knob.parameter].value || effect[knob.parameter] * 100"
                      [parameter]="knob.parameter"
                      (parameterChange)="setValue($event, knob.parameter)"></app-control-knob>
  </div>
</ng-container>
