<mat-card>
  <h2>{{sample | titlecase}}</h2>
  <app-volume-control [source]="player"></app-volume-control>
  <div class="container">
    <div>
      <app-pattern-generator [activeBeats]="activeBeats"></app-pattern-generator>
    </div>
    <div>
      <mat-card>
        <h3 class="settings">Settings</h3>
        <label>Reverse: </label>
        <mat-checkbox name="reverse" [value]="player.reverse" (change)="player.reverse = $event.checked"></mat-checkbox>
      </mat-card>
    </div>
    <div>
      <app-fx-box [source]="player"></app-fx-box>
    </div>
  </div>
</mat-card>
<mat-divider></mat-divider>
