<mat-card>
  <div class="transport">
    <div>
      <button mat-flat-button color="{{playing ? 'accent' : 'primary'}}" (click)="playButtonClick()">
        {{playing ? 'Stop' : 'Play'}}</button>
    </div>
    <label>Tempo: </label><br>
    <mat-slider [min]="1" [max]="500" [value]="Math.floor(transportService.transport.bpm.value)" [thumbLabel]="true"
                (change)="tempoChange($event)"></mat-slider>
    <div>
      <button mat-flat-button color="{{recording ? 'accent': 'warn'}}" (click)="recordButtonClick()">
        {{recording ? 'Stop' : 'Record'}}</button>
    </div>

    <audio controls></audio>
  </div>
</mat-card>
<mat-divider></mat-divider>

