<mat-card>
  <div class="pattern-generator">
    <div>
      <div>
        <button [style.margin-bottom]="'10px'" mat-stroked-button color="primary" (click)="generatePattern()">Generate</button>
      </div>
      <div>
        <button mat-stroked-button color="accent" (click)="generatePattern(true)">Clear</button>
      </div>
    </div>
    <div>
      <div *ngFor="let beat of activeBeats | keyvalue">
        <ng-container *ngFor="let sixteenth of beat.value | keyvalue">
          <mat-checkbox color="accent" [(ngModel)]="activeBeats[beat.key][sixteenth.key]"
                        (change)="patternChange.emit({beat: beat.key, sixteenth: sixteenth.key})"></mat-checkbox>
        </ng-container>
      </div>
    </div>
  </div>
</mat-card>

